<div class="row" style="padding-top:20px;">
  <div class="col-md-3">
    <img src="http://nideveloper.co.uk/img/matt.jpg" alt="Matt" style="width:100%" />
  </div>
  <div class="col-md-9">
    <h3>
      Background
    </h3>
    <p>
      I am a software developer who graduated from Queens University Belfast with an Meng Computer Science degree. I have been programming now for about 10 years and worked as an Assistant Software Developer in Liberty I.T. for 14 months. I have now returned to Liberty I.T. as a Principal Software Engineer focusing on User Experience and have been working there from 27th June 2011.
    </p>
    <p> 
      I like to do projects in my spare time so who knows I might stumble upon something interesting someday...
    </p>
    <hr />
    <h3>
      Development Experience
    </h3>
    <h4>
      Languages
    </h4>
    <p style="font-size:0.8em;">
      Web: HTML5, CSS3, Javascript, TypeScript, Ajax, JQuery, Flash, JSP, PHP, ASP, MySQL, XML, XSL, JSTL
      Desktop:  .NET, C, C++, C#, Objective C, CUDA C, WCF, Java, VB, SQL, Prolog, XML, XSL
    </p>
    <h4>
      Frameworks
    </h4>
    <p style="font-size:0.8em;">
      Codeigniter, Wordpress, Play, SpringBoot, Angular, Angular2 Backbone
    </p>
    <hr />
    <h3>
      Testing Experience
    </h3>
    <p style="font-size:0.8em;">
      QTP, Winrunner, Watir and HP Quality Center
    </p>
  </div>
</div>
<div class="row">
  Follow me on <a href="http://www.twitter.com/NIDeveloper">Twitter</a> and on <a href="http://www.facebook.com/profile.php?id=682217035">Facebook</a>
</div>
