<div class="row">
    <div class="col-md-12 ni-jumbotron">
        <h2>
            Welcome to NI Developer, A Software Developers Blog based in Belfast, Northern Ireland
        </h2>
        <br />
        <code>if(visitor.type !=== 'software developer'){{ '{' }} return toGoogle; {{ '}' }}</code>
    </div>
</div>
<section class="padding-bottom" id="current-technologies">
    <h3>
        Technologies I currently Like
    </h3>
    <div class="row img-row bottom-border">
        <div class="col-md-3">
            <img src="http://nodeblog.files.wordpress.com/2011/07/nodejs.png" alt="node.js" class="visible-desktop"/>
            <h4>
                Node.js
            </h4>
            <p>
                Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications.
                Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.
            </p>
        </div>
        <div class="col-md-3">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/AngularJS_logo.svg" alt="Angular JS" class="visible-desktop"/>
            <h4>
                Angular JS
            </h4>
            <p>
                AngularJS is what HTML would have been, had it been designed for building web-apps.
                Declarative templates with data-binding, MVW, MVVM, MVC, dependency injection and great
                testability story all implemented with pure client-side JavaScript!
            </p>
        </div>
        <div class="col-md-3">
            <img src="https://spring.io/img/spring-by-pivotal.png" alt="Spring" class="visible-desktop"/>
            <h4>
                Spring
            </h4>
            <p>
                Spring helps development teams everywhere build simple, portable,  fast and flexible JVM-based systems and applications.
            </p>
        </div>
        <div class="col-md-3">
            <img src="http://getbootstrap.com/2.3.2/assets/img/bs-docs-twitter-github.png" alt="node.js" class="visible-desktop"/>
            <h4>
                Twitter Bootstrap + Github
            </h4>
            <p>
                <strong>Bootstrap</strong> - Sleek, intuitive, and powerful front-end framework for faster and easier web development
            </p>
            <p>
                <strong>Github</strong> - Powerful collaboration, review, and code management for open source and private development projects.
            </p>
        </div>
    </div>
</section>
<section class='row'>
    <ni-twitter-stream class='col-md-4'></ni-twitter-stream>
    <ni-latest-blog-posts class="col-md-4"></ni-latest-blog-posts>
    <section id="newsletters" class="col-md-4">
        <h3 class="page-list-header tertiary-background well well-small">
            Top 5 Newsletters
        </h3>
        <ul class="page-list">
            <li>
                <a href="http://html5weekly.com/">Html5 Weekly</a>
            </li>
            <li>
                <a href="http://html5weekly.com/">Javascript Weekly</a>
            </li>
            <li>
                <a href="http://html5weekly.com/">Responsive Design Weekly</a>
            </li>
            <li>
                <a href="http://html5weekly.com/">Web Design Weekly</a>
            </li>
            <li>
                <a href="http://html5weekly.com/">Hacker Newsletter</a>
            </li>
        </ul>
    </section>
</section>